*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
img{
    display: block;
}
body{
    font-family: 'Prompt', sans-serif;
}
.bg-ios{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/abstract-turquoise-smooth-wave-lines.jpg');
    background-color: rgba(127, 255, 212, 0.595);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    z-index: -1;
}

h1{
    font-size: 5rem;
    color: orange;
    font-weight: 200;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding-left: 1.5rem;
}
h2{
    font-size: 1.5rem;
    color: rgb(24, 22, 22);
    text-transform: uppercase;
    padding: 1rem 0;
}
h3{
    color: rgb(24, 22, 22);
    text-transform: uppercase;
    padding: 1rem 0;
}
p{
    font-size: 1rem;
    text-align: right;
    font-weight: 200;  
}
a{
    color: black;
}
.content span, .image-wrapper span{
    font-size: 3rem;
}
.image-wrapper span{
    padding-top: 2rem;
}
.splash{
   width: 100vw;
   height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}

.image-wrapper, .content-wrapper{
    display: flex;
    align-items: center;
    height: auto;
    height: 100vh;
    flex-basis: 50%;
}
.content-wrapper{
    flex-grow: 1;
    justify-content: flex-end;
    position: relative;
}
.line {
    position: absolute;
    width: 50px;
    border: 1px solid black;
    border-left: none;
    border-bottom: none;
    right: 40px;
}
.splash-lower{
    height: 53%;
    bottom: 0;
}
.about-upper{
    height: 100%;
    border-top: none;
}
.image-wrapper{
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    background-color: aliceblue;
}
.content{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 6rem;
}
.image-wrapper p{
    padding: 4rem;
    text-align: left;
}
.image-container{
    width: 100%;
    padding: 0 4rem; 
}

.image-container img{
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 9px #ccc5c5;
}
.splash-image{
    background-image: url('../images/splach.jpg');
    background-color: rgba(0, 0, 0, 0.494);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    padding: 400px 0;
}
.services-image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}
.service-image{
    flex-basis: 35%;
}
.contact{
    border: 1px solid black;
    border-top: none;
    border-left: none;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
@media screen and (max-width: 1150px){
    .splash{
        flex-direction: column;
        height: auto;
    }
    h1{
        font-size: 4rem;
    }
    .content-wrapper{
        flex-basis: 35%;
        min-height: 190px;
        justify-content: center;
    }
    .content{
        margin-right: 0;
    }
    .image-wrapper{
        flex-basis: 65%;
        
    }
    .content-wrapper, .image-wrapper{
        width: 100vw;
    }
    .image-wrapper p{
        padding: 1.5rem;
    }
    .image-container{
        padding: 1.5rem;
    }
    .line{
        display: none;
    }
    .services-image-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 4rem;
        align-items: center;
        justify-content: center;
    }
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 1.35rem;
  }
  
  .contact-form button {
    width: 100%;
    font-size: 1.2rem;
    border: none;
    margin-top: 5px;
    padding: 10px 20px;
    box-shadow: 0px 0px 9px #ccc5c5;
    background-color: #fffefe;
    color: #030121;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
  }
  
  input,
  textarea {
    font-size: 1.2rem;
    margin: 0.6rem 0;
    padding: 10px 18px;
    border: none;
    box-shadow: 0px 0px 9px #ccc5c5;
  }
  
  @media screen and (max-width: 769px) {
    .contact h4 {
      font-size: 1rem;
    }
    form {
      width: 100%;
    }
    input,
    textarea {
      border: 1px solid #ccc5c5;
      box-shadow: none;
      padding: 6px 10px;
      font-size: 1rem;
    }
    .contact-form button {
      box-shadow: none;
      border: 1px solid #ccc5c5;
    }
    .contact-info {
      height: auto;
      min-width: 96%;
      flex-direction: column;
    }
    .contact-text,
    .contact-form {
      min-width: 90%;
      height: auto;
      font-size: 0.9rem;
    }
    .contact-map {
      min-width: 90%;
    }
  }
  